<div class="antika-capacity-section grid grid-3col">
  {{#each system.capacity as |group groupKey|}}
    <div class="capacity-column">
      <h2 class="antika-capacity-group">{{localize (concat "ANTIKA_V2.Ability." groupKey ".long")}}</h2>
      <div class="capacity-column">
        {{#each group as |value key|}}
          {{#unless (eq key "armeLabel")}} <!-- On évite d'afficher directement le champ label comme une capacité -->
            <div class="form-group">
              <label class="rollable" data-roll-capacity="{{groupKey}}.{{key}}">
                {{localize (concat "ANTIKA_V2.capacity." groupKey "." key)}}
              </label>

              {{#if (and (eq groupKey "soma") (eq key "arme"))}}
                <input
                  type="text"
                  name="system.capacity.soma.armeLabel"
                  value="{{lookup ../group "armeLabel"}}"
                  placeholder="Nom de l'arme"
                />
              {{/if}}

              <input
                type="number"
                name="system.capacity.{{groupKey}}.{{key}}"
                value="{{value}}"
                data-dtype="Number"
              />
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
